<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>processing graph</title>
<link rel="stylesheet" href="../stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/processing.js"></script>
    <script type="text/javascript" src="/javascripts/minim.js"></script>
    
    <script type="text/javascript">
    function drawPoints(id) {
    var pjs = Processing.getInstanceById(id);
    var json =io.connect('http://127.0.0.1:1337');
    console.log('so far..');
    
    json.on('connect', function (data) {
					console.log('json stuff connected ');
					console.log('json stuff connected data ' + data);
    }
    /*
    if(data){
        for(p=0, end=data.length;p<end;p++){
            var rpmPoint     = data.rpm[p];
            var currentPoint = data.current[p];
            var voltagePoint = data.voltage[p];
            var timePoint    = data.timestamp[p];
            pjs.addPoints(voltagePoint,currentPoint,rpmPoint,timePoint);        
            }    
        }*/
        );
    }    

    </script>
  </head>

<body onLoad="linedataInputFunction()">
  	
	<div class="lineGraphDiv"name="lineGraphDiv" id="lineGraphDiv" >
	<h1 id=lineGraphTitle>power</h1>
	<canvas id="processingSketch" data-processing-sources="/pde-sketch/accel_gui2.pde"></canvas>

    
    </div>


	<form>
		<div class="graphSelectButtons">
			<fieldset id="graphDataSelection">
				<legend>Select which data to graph</legend>
							

				<span>
				<input type="radio" class="dataSelectorRadio" name="measuredData" id="current" value="current">
				<label for="current">Current</label>
				</span>
				<span>
				<input type="radio"  class="dataSelectorRadio" name="measuredData" id="voltage" value="voltage">
				<label for="voltage">Voltage</label>
				</span>
				<span>
				<input type="radio"  class="dataSelectorRadio" name="measuredData" id="power" value="power" checked=true>
				<label for="power">Power</label>
				</span>
				<span>
				<input type="radio"  class="dataSelectorRadio" name="measuredData" id="rpm" value="rpm">
				<label for="rpm">RPM</label>
				</span>
			<div id="selectedData"></div>
	</form>
	</fieldset>
					
 
 
 
  </div>
 
</body>
</html>

		